@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(27, 27, 27);
}

.nav {
  width: 100%;
  height: 80px;
}

.nav .nav-items {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-items .nav-left {
  display: flex;
  align-items: center;
  width: 48%;
  height: 100%;
}

.nav .nav-items .nav-left img {
  margin-left: 25px;
  height: 40%;
  width: 45px;
  object-fit: fill;
}

.nav .nav-items .nav-left label {
  width: 15%;
  height: 35%;
  margin-left: 10px;
  color: white;
}

.nav .nav-items .nav-left input {
  border-radius: 10px;
  width: 53%;
  height: 45%;
  background-color: rgb(169, 169, 169);
  padding-left: 20px;
  margin-left: 30px;
  opacity: 0.8;
}

.nav .nav-items .nav-left input::placeholder {
  color: white;
}

.nav .nav-items .nav-right {
  display: flex;
  align-items: center;
  width: 15%;
}

.nav .nav-items .nav-right img {
  height: 40px;
  width: 50px;
  border-radius: 20px;
  border-style: none;
}

.nav .nav-items .nav-right label {
  height: 30px;
  width: 100%;
  margin-left: 20px;
  color: white;
}

.enclosure {
  display: flex;
}

.sidebar {
  margin-left: 30px;
  margin-top: 40px;
  width: 15%;
}

.sidebar .sidebar-items .top button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border-style: none none none none;
  border-left-width: thick;
  color: white;
  transition-property: color border-left-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.sidebar .sidebar-items .top img {
  padding-right: 10px;
}

.sidebar .sidebar-items .top button:focus {
  border-left-color: darkorange;
  color: darkorange;
  border-left-style: solid;
}

.sidebar .sidebar-items .bottom button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  margin-top: 310px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border-style: none none none none;
  border-left-width: thick;
  color: white;
  transition-property: color border-left-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.sidebar .sidebar-items .bottom img {
  padding-right: 10px;
}

.sidebar .sidebar-items .bottom button:focus {
  border-left-color: darkorange;
  color: darkorange;
  border-left-style: solid;
}

.showcase {
  width: 100%;
}

.showcase .flex-container {
  display: flex;
  height: 300px;
}

.showcase .flex-container::after {
  content: "";
  clear: both;
  display: block;
}

.showcase .flex-container .first {
  width: 60%;
  height: 90%;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 10px;
  margin-right: 20px;
}

.showcase .flex-container .first img {
  width: 100%;
  height: 100%;
}

.showcase .flex-container .showcase-2 {
  width: 40%;
  height: 90%;
}

.showcase .flex-container .showcase-2 .fix {
  display: flex;
  height: 50%;
}

.showcase .flex-container .showcase-2 .fix .second {
  width: 60%;
  height: 80%;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10px;
}

.showcase .flex-container .showcase-2 .fix .second img {
  width: 100%;
  height: 100%;
}

.showcase .flex-container .showcase-2 .third {
  width: 60%;
  height: 40%;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.showcase .flex-container .showcase-2 .third img {
  width: 100%;
  height: 100%;
}

.showcase .popular-games {
  margin-left: 40px;
  margin-top: 10px;
}

.showcase .popular-games label {
  color: white;
}

.showcase .popular-games .games {
  display: flex;
  height: 210px;
  margin-top: 10px;
}

.showcase .popular-games .games button {
  width: 150px;
  height: 210px;
  border-radius: 10px;
  margin-right: 20px;
}

/* .showcase {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.showcase .love {
  display: grid;
  height: 65%;
  grid-template-areas:
    "first second"
    "first third";
}

.showcase .love .first {
  grid-area: first;
  background-color: blue;
  width: 100%;
  height: 95%;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
}

.showcase .love .second {
  grid-area: second;
  background-color: blue;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 70px;
  width: 70%;
  height: 90%;
}

.showcase .love .third {
  grid-area: third;
  background-color: blue;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  margin-top: 30px;
  margin-left: 70px;
}

.showcase label {
  color: white;
  margin-top: 40px;
  margin-left: 40px;
}

.showcase .popular {
  display: flex;
  margin-left: 40px;
  height: 50%;
}

.showcase .popular button {
  margin-right: 20px;
  width: 50%;
  border-radius: 10px;
} */

/* .showcase {
  display: flex;
  width: 100%;
}

.showcase .main-game {
  width: 53%;
  height: 55%;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
}

.showcase .game-details {
  width: 30%;
}

.showcase .game-details .main-game-info {
  width: 90%;
  height: 25%;
  margin-left: 20px;
  margin-top: 55px;
  border-radius: 10px;
}

.showcase .game-details .main-game-ss .third-game {
  width: 90%;
  height: 120px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
} */

/* .order {
  display: flex;
}

.order .sidebar {
  width: 15%;
}

.order .sidebar .logo {
  display: flex;
  align-items: center;
}

.order .sidebar .logo img {
  height: 60px;
  width: 70px;
  margin-left: 40px;
  margin-top: 10px;
}

.order .sidebar .logo label {
  margin-top: 5px;
  margin-left: 20px;
}

.order .sidebar .menu button {
  padding: 20px;
  border-style: none none none solid;
  border-left-color: darkorange;
  margin: 20px 0 0 40px;
  border-left-width: thick;
  border-radius: 5px;
  background-color: transparent;
}

#bottom-menu {
  margin-top: 270px;
}

.order .search {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
}

.order .search input {
  border-radius: 5px;
  width: 100%;
  height: 70%;
  background-color: transparent;
  padding-left: 40px;
}

.order .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

.order .nav .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  width: 9%;
}

.order .nav .user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.order .showcase #main-game {
  width: 50px;
  height: 50px;
} */
