@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(27, 27, 27);
}

.nav {
  width: 100%;
  height: 80px;
}

.nav .nav-items {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-items .nav-left {
  display: flex;
  align-items: center;
  width: 48%;
  height: 100%;
}

.nav .nav-items .nav-left img {
  margin-left: 25px;
  height: 40%;
  width: 45px;
  object-fit: fill;
}

.nav .nav-items .nav-left label {
  width: 15%;
  height: 35%;
  margin-left: 10px;
  color: white;
}

.nav .nav-items .nav-left input {
  border-radius: 10px;
  width: 53%;
  height: 45%;
  background-color: rgb(169, 169, 169);
  padding-left: 20px;
  margin-left: 30px;
  opacity: 0.8;
}

.nav .nav-items .nav-left input::placeholder {
  color: white;
}

.nav .nav-items .nav-right {
  display: flex;
  align-items: center;
  width: 15%;
}

.nav .nav-items .nav-right img {
  height: 40px;
  width: 50px;
  border-radius: 20px;
  border-style: none;
}

.nav .nav-items .nav-right label {
  height: 30px;
  width: 100%;
  margin-left: 20px;
  color: white;
}

.enclosure {
  display: flex;
}

.sidebar {
  margin-left: 30px;
  margin-top: 40px;
  width: 15%;
}

.sidebar .sidebar-items .top button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border-style: none none none none;
  border-left-width: thick;
  color: white;
  transition-property: color border-left-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.sidebar .sidebar-items .top img {
  padding-right: 10px;
}

.sidebar .sidebar-items .top button:focus {
  border-left-color: darkorange;
  color: darkorange;
  border-left-style: solid;
}

.sidebar .sidebar-items .bottom button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  margin-top: 310px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border-style: none none none none;
  border-left-width: thick;
  color: white;
  transition-property: color border-left-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.sidebar .sidebar-items .bottom img {
  padding-right: 10px;
}

.sidebar .sidebar-items .bottom button:focus {
  border-left-color: darkorange;
  color: darkorange;
  border-left-style: solid;
}

.showcase {
  display: flex;
  width: 100%;
}

.showcase .main-game {
  width: 60%;
  height: 80%;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
}

.showcase .game-details {
  width: 30%;
}

.showcase .game-details .main-game-info {
  width: 90%;
  height: 60%;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.showcase .game-details .main-game-ss {
  display: flex;
  align-items: center;
}

.showcase .game-details .main-game-ss img {
  width: 42%;
  height: 90px;
  margin-left: 23px;
  margin-top: 10px;
  border-radius: 10px;
}

/* .order {
  display: flex;
}

.order .sidebar {
  width: 15%;
}

.order .sidebar .logo {
  display: flex;
  align-items: center;
}

.order .sidebar .logo img {
  height: 60px;
  width: 70px;
  margin-left: 40px;
  margin-top: 10px;
}

.order .sidebar .logo label {
  margin-top: 5px;
  margin-left: 20px;
}

.order .sidebar .menu button {
  padding: 20px;
  border-style: none none none solid;
  border-left-color: darkorange;
  margin: 20px 0 0 40px;
  border-left-width: thick;
  border-radius: 5px;
  background-color: transparent;
}

#bottom-menu {
  margin-top: 270px;
}

.order .search {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-left: 30px;
}

.order .search input {
  border-radius: 5px;
  width: 100%;
  height: 70%;
  background-color: transparent;
  padding-left: 40px;
}

.order .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

.order .nav .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  width: 9%;
}

.order .nav .user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.order .showcase #main-game {
  width: 50px;
  height: 50px;
} */
